/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Containers */
.about-wrapper {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.about-text {
    text-align: left;
    flex: 1;
    flex-wrap: wrap;
}

.about-text h3 {
    margin-bottom: 10px; /* Adjust as needed */
    text-align: center;
    flex-wrap: wrap;
    flex: 1;
}

.about-text p {
  text-align: center;
  flex: 1; 
}

.about-text-list ul {
  text-align: center;
}

.background {
  margin-top: 20px;
}

/* 2. Display Pete's Background section below Pete's image and the Hi! I'm Pete Thinkful section */

div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
.project-descriptions {
  font-size: 14px;
  text-align: center;
}

.projects {
  display: flex;
  padding: 30px;
}

p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
